@font-face {
  font-family: "bold";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "mediumItalic";
  src: url("../../assets/fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "boldItalic";
  src: url("../../assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../assets/fonts/Montserrat-ExtraBold.ttf");
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #9f9f9f;
  --lightGray: #f7f7f7;
  --green: #01893b;
}

.manager-container {
  display: grid;
  grid-template-columns: 36% 52%;
  width: 100%;
  gap: 10%;
  height: 100vh;
}

.manager-info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manager-info h2 {
  font-family: bold;
  font-size: 45px;
  color: var(--black);
}
.manager-info h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 240vh;
  background-color: #01893b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 20px;
  width: 500px;
}

.title-secondary {
  font-family: mediumItalic;
  font-size: 23px;
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.title-econdary span {
  font-family: boldItalic;
  color: var(--black);
}

.manager-info p {
  font-family: montserrat;
  font-size: 16px;
  color: var(--black);
}

.manager-info p span {
  font-family: boldItalic;
}

.highligh-box {
  background: #f8f9fa;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.highligh-box h3 {
  font-family: bold;
  font-size: 23px;
  margin: 10px;
}

.btn-more {
  background: var(--green);
  color: var(--white);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-family: boldItalic;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-more:hover {
  background: var(--gray);
}
