@font-face {
  font-family: "bold";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "mediumItalic";
  src: url("../../assets/fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "boldItalic";
  src: url("../../assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../assets/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "semiBoldItalic";
  src: url("../../assets/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "italic";
  src: url("../../assets/fonts/Montserrat-Italic.ttf");
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #9f9f9f;
  --lightGray: #f7f7f7;
  --green: #01893b;
}

.manager-section {
  min-height: 100vh;
  margin-top: 4em;
}

.manager-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "manager carousel carousel";
}

/* MANAGER INFO */

.manager-info {
  margin-left: 3.25em;
  grid-area: manager;
  /* background-color: transparent;
  display: flex;
  flex-direction: column; */
}

.manager-info h2 {
  margin-left: 1em;
  margin-bottom: 0.25em;
  font-family: bold;
  font-size: 2em;
  color: var(--black);
}

.title-bar {
  width: 32%;
  position: absolute;
  left: 0%;
  height: 0.67em;
  background-color: var(--gray);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

h3.title-secondary {
  font-family: "italic";
  font-size: 1.35em;
  text-align: center;
  margin: 0.75em;
}

.title-secondary span {
  font-family: "boldItalic";
  color: var(--black);
}

.manager-description {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "montserrat";
  font-size: 1em;
  color: var(--black);
}

.manager-description p {
  margin-bottom: 1.5em;
}

.manager-description p span {
  font-family: "boldItalic";
}

.highlight-box {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}

.highlight-box h3 {
  font-family: "bold";
  text-align: center;
  font-size: 1.35em;
  max-width: 80%;
}

.btn-more {
  font-family: boldItalic;
  max-width: 50%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em 0;
  border-radius: 2em;
  border: none;
  color: var(--white);
  cursor: pointer;
  background: var(--green);
  transition: all 0.3s;
}

.btn-more:hover {
  background: var(--gray);
  color: var(--black);
}
*/

/* MANAGER CAROUSEL */

.manager-carousel {
  grid-area: carousel;
  margin-right: 3em;
}

.manager-cards-container {
  /* margin: 5em; */
}
