@font-face {
  font-family: "extraBoldItalic";
  src: url("../../assets/fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "semiBoldItalic";
  src: url("../../assets/fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "boldItalic";
  src: url("../../assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../../assets/fonts/Montserrat-ExtraBoldItalic.ttf");
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #9f9f9f;
  --lightGray: #f7f7f7;
  --green: #01893b;
}

.banner-container {
  position: relative;
  display: flex;
  background-color: var(--lightGray);
  min-height: 100vh;
}

/* ----------parte de información--------- */
.banner-info {
  width: 100%;
  margin: 1rem 0;
  flex: 1.5;
}
.banner-text {
  width: 80%;
  margin: 2rem auto;
}

/* titulos */
.banner-info h1 {
  font-family: "semiBoldItalic", sans-serif;
  font-size: 50px;
  color: var(--black);
  margin: 2rem auto;
  padding-left: 5px;
  width: 600px;
  background-color: var(--white);
}
.banner-info span {
  font-family: "ExtraBoldItalic", sans-serif;

  color: var(--black);
  /* margin: 0px auto 5px auto; */
}

.banner-text h3 {
  font-family: "boldItalic", sans-serif;
  font-size: 25px;
  margin: 0.5rem 0;
  color: var(--black);
}
/* texto */
.banner-text p {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  margin: 1rem 0;
  color: var(--black);
}
.banner-text p span {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
}
/* -------------parte de la imagen----------- */
.banner-image {
  max-width: 100%;
  background-color: transparent;
  display: flex;
  align-items: start;
  justify-content: center;
  flex: 1;
  margin: 2rem;
}
.banner-image img {
  width: 100%;
  height: auto;
}
/* ---------------Botones ----------------- */
.banner-buttons {
  height: 50px;
  display: flex;
  justify-content: center;
}
.banner-buttons button {
  font-family: "boldItalic", sans-serif;
  font-size: 16px;
  height: 100%;
  border: none;
  border-radius: 25px;
  margin: 2rem 3rem;
  width: 100%;
  transition: all 0.2s ease-in;
}
.banner-buttons .btn-prom {
  background-color: var(--green);
  color: var(--white);
}
.banner-buttons .btn-prom:hover {
  background-color: var(--black);
  cursor: pointer;
}
.banner-buttons .btn-more {
  background-color: transparent;
  border: var(--black) 2px solid;
  color: var(--black);
  margin-left: 10px;
}
.banner-buttons .btn-more:hover {
  border-color: var(--green);
  color: var(--green);
  cursor: pointer;
}
