@font-face {
  font-family: 'extraBoldItalic';
  src: url('../../assets/fonts/Montserrat-ExtraBoldItalic.ttf')
}
@font-face {
  font-family: 'semiBoldItalic';
  src: url('../../assets/fonts/Montserrat-SemiBoldItalic.ttf')
}
@font-face {
  font-family: 'boldItalic';
  src: url('../../assets/fonts/Montserrat-BoldItalic.ttf')
}

@font-face {
  font-family: 'montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: 'ExtraBold';
  src: url('../../assets/fonts/Montserrat-ExtraBoldItalic.ttf')
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #9f9f9f;
  --lightGray: #f7f7f7;
  --green:#01893b;
}

.banerContainer{
  position: relative;
    display: flex;
    background-color: var(--lightGray);
}

/* ----------parte de información--------- */
.bannerInfo{
  width: 60%;
  padding: 10px;
}
.bannerText{
  width: 82%;
}

/* titulos */
.bannerInfo h1{
  font-family: 'semiBoldItalic', sans-serif;
  font-size: 55px;
  color: var(--black);
  margin-bottom: 0px;
  background-color: var(--white);
  width: 600px;
  padding-left: 5px;
}
.bannerInfo h2{
  font-family: 'ExtraBoldItalic', sans-serif;
  font-size: 60px;
  color: var(--black);
  margin: 0px auto 5px auto;
}

.bannerText h3{
  font-family: 'boldItalic', sans-serif;
  font-size: 25px;
  color: var(--black);
}
/* texto */
.bannerText p{
  font-family: 'montserrat', sans-serif;
  font-size: 18px;
  color: var(--black);
}
.bannerText p span{
  font-family: 'montserrat', sans-serif;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
}
/* -------------parte de la imagen----------- */
.bannerImage{
  height: 90vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerImage img {
  width: 90%;

}
/* ---------------Botones ----------------- */
.bannerButtons{
  height: 50px;
  display: flex;
  justify-content: center;
}
.bannerButtons button{
  font-family: 'boldItalic', sans-serif;
  font-size: 16px;
  height: 100%;
  border: none;
  border-radius: 25px;
  width: 50%;
} 
.btnprom{
  background-color: var(--green);
  color: var(--white);
}
.btnprom:hover{
  background-color: var(--black);
  cursor: pointer;
}
.bannerButtons .btnmore{
  background-color: transparent;
  border: var(--black) 2px solid;
  color: var(--black);
  margin-left: 10px;
}
.bannerButtons .btnmore:hover{
  border: var(--green) 2px solid;
  color: var(--green);
  cursor: pointer;
} 