.mainBanner {
  height: 100vh;
  background-color: aqua;
}
.homePage {
  display: flex;
  flex-direction: column;
  margin-top: 63px;
}
.homeSection {
  position: relative;
  height: 100vh;
  padding: 0px;

}

@media (max-width: 992px) {
  .homeSection {
    height: 145vh;
  }
}